{% extends ('base.html.twig') %}
    {% block body %}


        <!-- ================================================== Page Title=============================================================== -->
        <section id="page-blog" class="img-bd-article">

        </section><!-- #page-title end -->

        <!-- ==================================================Page Sub Menu================================================================================ -->
        <div id="page-menu">

            <div id="page-menu-wrap">

                <div class="container clearfix">

                    <div class="menu-title">Contact <span>Options</span></div>

                    <nav>
                        <ul>
                            
                            <li id="titre_LivreDor" class="current"><a href="{{ path('contact') }}#livredor">
                                    <div>Livre D'or</div>
                                </a></li>
                            <li id="titre_CahierDesCharges"><a href="{{ path('contact') }}#cahierdescharges">
                                    <div>Fiche technique</div>
                                </a></li>
                            <li id="titre_ContactPro"><a href="{{ path('contact') }}#contactpro">
                                    <div>Contact Professionnel</div>
                                </a></li>
                        </ul>
                    </nav>

                    <div id="page-submenu-trigger"><i class="icon-reorder"></i></div>

                </div>

            </div>

        </div><!-- #page-menu end -->

        
        <!--============================================= Livre d'or + formulaire ============================================= -->
        <div id="livredor"></div>
        <section class="headerContakt">
            <img src="images_kat/livredor.jpg" class="img-fluid img_header_contakt" alt="Livre d'or">
            <h1>Livre D'or</h1>
        </section>
        <section id="content">

            <div class="content-wrap-contact mt-5">

                <div class="container clearfix">

                    <!-- ======================================== Livre d'or Form============================================= -->
                    <div class="col_half">

                        <div class="fancy-title title-dotted-border">
                            <h3 >Participer au livre d'or</h3>
                        </div>

                        <div class="">


                            {{ form_start(formcom) }}


                                <div class="form-process"></div>

                                <div class="col_half">
                                    <label for="template-contactform-name">Name <small>*</small></label>
                                    {{ form_widget (formcom.Pseudo) }}
                                </div>

                                <div class="col_half">
                                    <label for="template-contactform-email">Email <small>*</small></label>
                                    {{ form_widget (formcom.Email) }}
                                </div>
                                <div class="clear"></div>

                                <div class="col_full">
                                    <label for="template-contactform-message">Message <small>*</small></label>
                                    {{ form_widget (formcom.Content) }}
                                </div>

                                <div class="col_full hidden">
                                    {{ form_widget (formcom.envoye) }}
                                </div>

                                <div class="col_full">
                                    <button name="submit" type="submit" id="submit-button" tabindex="5" value="Submit"
                                            class="button button-3d button-amber">Publier
                                    </button>
                                </div>

                                <input type="hidden" name="prefix" value="template-contactform-">


                            {{ form_end(formcom) }}
                        </div>

                    </div>
                    <!-- =============================== Contact Form End =========================================================-->
                    <!-- =============================== Carousel testimonial pair =================================================-->
                    <div class="col_half">
                        <h4>Livre d'or</h4>
                        <div class="fslider testimonial  mt-5" data-animation="fade" data-arrows="false">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    {% for commentaire in livreDorPair %}
                                        <div class="slide">
                                            <div class="testi-image">
                                                <script type="text/javascript"
                                                        language="javascript">document.write('' +
                                                        '<img class="avatar avatar-60 photo avatar-default" height="60" width="60" ' +
                                                        'src="{{ asset("images_kat/icon_commentaire/") }}' + Math.round((Math.random() * 8) + 1) + '.png" />');
                                                </script>
                                            </div>
                                            <div class="testi-content">
                                                <p>{{ commentaire.content|raw }}</p>
                                                <div class="testi-meta">
                                                    {{ commentaire.pseudo }}
                                                    <span>{{ commentaire.DateTime|format_datetime('full','none',locale='fr') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <!-- =============================== Carousel testimonial impair =================================================-->
                        <div class="fslider testimonial mt-5" data-animation="fade" data-arrows="false">
                            <div class="flexslider">
                                <div class="slider-wrap">
                                    {% for commentaire in livreDorImpair %}
                                        <div class="slide">
                                            <div class="testi-image">
                                                <script type="text/javascript"
                                                        language="javascript">document.write('' +
                                                        '<img class="avatar avatar-60 photo avatar-default" height="60" width="60" ' +
                                                        'src="{{ asset("images_kat/icon_commentaire/") }}' + Math.round((Math.random() * 8) + 1) + '.png" />');
                                                </script>
                                            </div>
                                            <div class="testi-content">
                                                <p>{{ commentaire.content|raw }}</p>
                                                <div class="testi-meta">
                                                    {{ commentaire.pseudo }}
                                                    <span>{{ commentaire.DateTime|format_datetime('full','none',locale='fr') }}</span>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- =============================== Fin Carousels=================================================-->
                </div>
            </div>
            <div id="LivreDorTrigger"></div>

        </section>
        <!-- =============================== Fin Livre d'or=================================================-->


        <!-- =============================== Cachier des charges =================================================-->
        <div id="cahierdescharges"></div>
        <section class="headerContakt">
            <img src="images_kat/fiche.png" class="img-fluid img_header_contakt" alt="fiche technique">
            <h1>Fiche Technique</h1>
        </section>
        <section id="content" >

            <div class="content-wrap-contact" >

                <div class="container clearfix feature-box fbox-center fbox-bg fbox-plain">
                <div class="col_half">
                    <img id="img_cahierdescharges" src="images_kat/Kat_enjoy.jpg" alt="Standard Post with Image">
                </div>
                <div class="col_half">
                    <h4 id="CahierDesCharges">Cahier des charges</h4>
                    <span>
                    <ul>
                        <li>Spectacle : Durée 50 min</li>

                        <li>Jeune public et familial à partir de 6 ans</li>

                        <li>Temps d’installation 2H30 + préparation comédiens 45 mn</li>

                        <li>Scène : Ouverture idéale : 8m – Profondeur idéale: 4m </li>

                        <li>En cas de prestation au sol, distance minimum entre scène et public : 1m</li>

                        <li>Courant : 2 circuits séparés</li>

                        <li>Jauge : 350 personnes maximum (à redéfinir suivant le contexte)</li>

                        <li>Lumière et Son : Obscurité totale requise, ce spectacle ayant été conçu pour être joué en salle. Suivant le lieu d’accueil, merci d’obstruer la lumière des fenêtres. Pour les événements ne pouvant présenter des spectacles qu’en extérieur, une version adaptée à la lumière du jour peut être proposée mais nécessitera un entretient téléphonique (Lillah Politzer: 06.72.97.47.00) afin de discuter des conditions d’accueil (endroit intimiste, sans passage…) qui définiront la faisabilité de la prestation. Merci.</li>

                        <li>Nous sommes autonomes en son et lumière si votre salle ne dispose pas d’installations prévues à cet effet.</li>
                    </ul>
                    </span>

                </div>
            </div>
            </div>
            <div id="CahierDesChargesTrigger"></div>
        </section>
        <!-- =============================== Fin cachier des charges =================================================-->
        <div id="contactpro"></div>
        <section class="headerContakt">
            <img src="images_kat/contact.jpg" class="img-fluid img_header_contakt" alt="Contact Professionnel">
            <h1>Contact Professionnel</h1>
        </section>
        <section id="content">
            <div class="content-wrap-contact mt-5">
                <div class="container clearfix">
                    <!-- ======================================== Contact pro Form============================================= -->
                    <div class="col_half">
                        <div class="fancy-title title-dotted-border">
                            <h3>Contact Professionnel</h3>
                        </div>
                        <div class="form-widget">
                            <div class="form-result"></div>
                                {{ form(contactForm) }}
                        </div>
                    </div>
                    <!-- =============================== Contact Form End =========================================================-->
                    <div class="row col-mb-50">
                        <div class="col-lg-6 col-sm-12">
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-map-marker2"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Our Headquarters<span class="subtitle">Melbourne, Australia</span></h3>
                                </div>
                            </div>
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-phone3"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Speak to Us<span class="subtitle">(123) 456 7890</span></h3>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-12">
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-map-marker2"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Our Headquarters<span class="subtitle">Melbourne, Australia</span></h3>
                                </div>
                            </div>
                            <div class="feature-box fbox-center fbox-bg fbox-plain">
                                <div class="fbox-icon">
                                    <a href="#"><i class="icon-phone3"></i></a>
                                </div>
                                <div class="fbox-content">
                                    <h3>Speak to Us<span class="subtitle">(123) 456 7890</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="ContactProTrigger"></div>
                </div>
            </div>
        </section><!-- #content end -->
        <!-- Footer
        ============================================= -->
    {% endblock %}
