{% extends ('base.html.twig') %}

{% block body %}

    <!-- Page Title
        ============================================= -->
    <section id="page-blog" class="img-bd-news">
        <div class="container clearfix">
            <h1 class="center text-white titre-bd">News</h1>
        </div>
    </section>
    <!-- #page-title end -->

    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <!-- Post Content
                ============================================= -->
                <div class="postcontent nobottommargin clearfix">
                    <!-- Posts
                    ============================================= -->
                    <div id="posts" class="small-thumbs">

                        {% for i in range(0, articles|length-1) %}
                            {% if articles[i].online == true %}
                            <div class="entry clearfix">
                                <div class="entry-image">
                                    <img src="{{ asset("imagesArticles/" ~ articles[i].image) }}"
                                         class="card-img-top image-menu" alt="...">
                                </div>
                                <div class="entry-c">
                                    <div class="entry-title">
                                        <h1><a href="{{ path('article', {id: articles[i].id }) }}">{{ articles[i].Titre }}</a>
                                        </h1>
                                        <h2>{{ articles[i].SousTitre }}</h2>
                                    </div>
                                    <ul class="entry-meta clearfix">
                                        <li>
                                            <i class="icon-calendar3"></i> {{ articles[i].date|format_datetime('full','none',locale='fr') }}
                                        </li>
                                        <li><i class="icon-comment"></i>  {{ listeCount[i] }}</li>

                                    </ul>
                                    <div class="entry-content">
                                        {% if articles[i].Texte|length < 250 %}
                                            <p class="mt-0">{{ articles[i].Texte|slice(0, 250)|raw }}</p>
                                        {% elseif articles[i].Texte|length > 250 %}
                                            <p class="mt-0">{{ articles[i].Texte|slice(0, 250)|raw }}...</p>
                                        {% endif %}
                                        <a href="{{ path('article', {id: articles[i].id }) }}" class="more-link ">Lire la
                                            suite</a>
                                    </div>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div><!-- #posts end -->
                </div><!-- .postcontent end -->
                <!-- Sidebar
                ============================================= -->
                <div class="sidebar nobottommargin col_last clearfix">
                    <div class="sidebar-widgets-wrap">
                        <div class="widget clearfix">
                            <div class="widget clearfix">
                                <h3>Dernière musique</h3>
                                {% for music in musics %}
                                    {{ music.embed|raw }}
                                {% endfor %}
                            </div>
                        </div>
                        <div class="widget clearfix">
                            <h3>Prochain concert</h3>
                            {% for nextconcert in nextconcerts %}
                                <div class="spost clearfix">
                                    <div class="entry-image">
                                        <img src="{{ asset("imagesArticles/" ~ nextconcert.image) }}"
                                             class="petiteImage" alt="...">
                                    </div>
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">{{ nextconcert.titre }}</a></h4>
                                        </div>
                                        <div class="entry-title">
                                            <h4><a href="#"><img src="images/icons/icon-map-white.png"
                                                                 style="width: 1em">  {{ nextconcert.lieu }}</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>{{ nextconcert.date|format_datetime('full','none',locale='fr') }}</li>
                                        </ul>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="widget clearfix">
                            <h3>Dernière vidéo</h3>
                            {% for lastvideo in lastvideos %}
                                {{ lastvideo.embed|raw }}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- #content end -->
{% endblock %}
