<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
{#        icon a garder#}
{#        <a target="_blank" href="https://icones8.fr/icons/set/map-pin">Epingle de carte icon</a> icône par <a target="_blank" href="https://icones8.fr">Icons8</a>#}
        <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
        <meta name="author" content="SemiColonWeb"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <script src="https://www.google.com/recaptcha/api.js"></script>
        <script>
            function onSubmit(token) {
                document.getElementById("demo-form").submit();
            }
        </script>
        <!-- Document stylesheets
            ============================================= -->
        {% block stylesheets %}
            <link rel="icon" type="image/png" href="{{ asset('images_kat/Logo_Kat.png') }}">
            <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700|Raleway:300,400,500,600,700|Crete+Round:400i" rel="stylesheet" type="text/css"/>
            <link href="https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@900&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("style.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/dark.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/font-icons.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/animate.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/magnific-popup.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("css/responsive.css") }}" type="text/css"/>
            <link rel="stylesheet" href="{{ asset("kat-style.css") }}" type="text/css"/>
            <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap" rel="stylesheet">
            <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.1/mapbox-gl.css' rel='stylesheet' />
        {% endblock %}
        <!-- Document Title
        ============================================= -->
        {% block title %}
            <title>Kat-musik.com</title>
        {% endblock %}
    </head>
    <body class="stretched">
    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">
        {% block header %}
        <!-- Header
    ============================================= -->
        <header id="header" class="transparent-header full-header dark" data-sticky-class="not-dark">
            <div id="header-wrap">
                <div class="container clearfix">
                    <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>
                    <!-- Logo
                    ============================================= -->
                    <div id="logo">
                        <a href="{{ path('index') }}" class="standard-logo" data-dark-logo="{{ asset('images_kat/Logo_Kat.png') }}"><img src="{{ asset('images_kat/Logo_Kat1.png') }}" alt="Canvas Logo"></a>
                        <a href="{{ path('index') }}" class="retina-logo" data-dark-logo="{{ asset('images_kat/Logo_Kat.png') }}"><img src="{{ asset('images_kat/Logo_Kat1.png') }}" alt="Canvas Logo"></a>
                    </div><!-- #logo end -->
                    <!-- Primary Navigation
                    ============================================= -->
                    <nav id="primary-menu" class="not-dark">
                        <ul>
                            <li>
                                <a href="{{ path('index') }}">
                                    <div class="Menu-links">accueil</div>
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('musik') }}">
                                    <div class="Menu-links">musiK</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="{{ path('video') }}">
                                    <div class="Menu-links">Vidéos</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="{{ path('news') }}">
                                    <div class="Menu-links">News</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="{{ path('liveagenda') }}">
                                    <div class="Menu-links">Live Agenda</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="{{ path('contact') }}">
                                    <div class="Menu-links">ContaKt</div>
                                </a>
                            </li>
                            <li class="mega-menu">
                                <a href="#">
                                    <div class="Menu-links">BoutiK</div>
                                </a>
                            </li>
                        </ul>
                    </nav><!-- #primary-menu end -->
                </div>
            </div>
        </header>
    </div>
    </body>
</html>
<!-- #header end -->
{% endblock %}
    {% for message in app.flashes('success') %}
        <div class="style-msg successmsg">
            <div class="sb-msg"><i class="icon-thumbs-up"></i><strong>Super !</strong>{{message}}</div>
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
        </div>
    {% endfor %}
    {% for message in app.flashes('fail') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% block body %}{% endblock %}
<footer id="" class="dark">

    <!-- Copyrights
    ============================================= -->
    <div id="copyrights">
        <div class="container">

            <div class="row col-mb-30">

                <div class="col-md-6 text-center text-md-left">
                    Copyrights © 2020 All Rights Reserved by Canvas Inc.<br>
                    <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

                <div class="col-md-6 text-center text-md-right">
                    <div class="d-flex justify-content-center justify-content-md-end">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-vimeo">
                            <i class="icon-vimeo"></i>
                            <i class="icon-vimeo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-yahoo">
                            <i class="icon-yahoo"></i>
                            <i class="icon-yahoo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <h6 class="signature">Développeurs:</h6><span class="middot">yorikmoreau@gmail.com</span>/<span class="middot">contact@geoffrey-olivier.fr</span>
                </div>

            </div>

        </div>
    </div><!-- #copyrights end -->

</footer>

{% block javascripts %}
    <!-- Go To Top
============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script src="{{ asset('js/jquery.js') }}"></script>
    <script src="{{ asset('js/plugins.js') }}"></script>
    <script src="{{ asset('js/feuille.js') }}"></script>
    <!-- Footer Scripts
    ============================================= -->
    <script src="{{ asset('js/functions.js') }}"></script>
    <script src="{{ asset('js/js-contakt.js') }}"></script>

{% endblock %}

</body>


</html>
